<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>duration</key>
    <integer>-1</integer>
    <key>maxParticles</key>
    <integer>100</integer>
    <key>emissionRate</key>
    <integer>40</integer>
    <key>particleLifespan</key>
    <real>0.6</real>
    <key>particleLifespanVariance</key>
    <real>0.2</real>
    <key>startParticleSize</key>
    <integer>12</integer>
    <key>startParticleSizeVariance</key>
    <integer>4</integer>
    <key>finishParticleSize</key>
    <integer>4</integer>
    <key>finishParticleSizeVariance</key>
    <integer>2</integer>
    <key>angle</key>
    <integer>90</integer>
    <key>angleVariance</key>
    <integer>30</integer>
    <key>speed</key>
    <integer>150</integer>
    <key>speedVariance</key>
    <integer>50</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>-400</integer>
    <key>sourcePositionVariancex</key>
    <integer>40</integer>
    <key>sourcePositionVariancey</key>
    <integer>5</integer>
    <key>startColorRed</key>
    <real>0.55</real>
    <key>startColorGreen</key>
    <real>0.35</real>
    <key>startColorBlue</key>
    <real>0.17</real>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorVarianceRed</key>
    <real>0.1</real>
    <key>startColorVarianceGreen</key>
    <real>0.1</real>
    <key>startColorVarianceBlue</key>
    <real>0.05</real>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorRed</key>
    <real>0.4</real>
    <key>finishColorGreen</key>
    <real>0.25</real>
    <key>finishColorBlue</key>
    <real>0.1</real>
    <key>finishColorAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>blendFuncSource</key>
    <integer>2</integer>
    <key>blendFuncDestination</key>
    <integer>4</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>360</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>360</integer>
    <key>spriteFrameUuid</key>
    <string>e9c2019b-d2f4-48c9-9df5-47b2708970a1@f9941</string>
  </dict>
</plist>